
body {
    background-color: #ff8200;
}

.mainbox {

    background-color: blue;
    margin: 150px;
    padding: 10px;
    border-radius: 5px;

}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
    padding: 10px;
}

#textbox {

    display: flex;
    justify-content: center;
    margin: 10px;

}

#clockin {

    display: flex;
    margin: 5px;

}

#clockout {

    display: flex;
    margin: 5px;

}

#export {

    display: flex;
    margin: 5px;
}

#button {

    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

/* comeback and correct the colors */




